.trends__container{
    margin:10px 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgb(0, 47, 156), rgba(243, 55, 55, 0.7));
    box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);
    padding:  10px 40px 40px 40px;
    transition: .2s;
    animation: appear2 .7s ease-in-out;
}
@keyframes appear2 {
    0%    {opacity: 0;}
    100% {opacity: 1;}
}
.trends__container h1{
    margin-top: 0;
    margin-bottom: 10px;
    color:#ffffff;
    font-size: 50px;
    font-weight: 600;
    transition: .2s;
}
.slick-arrow{
    fill: #ffffff7a;
    transition: all 0.2s ease-in-out;
}
.slick-arrow:hover{
    fill: #ffffffb8;
}
@media all and (max-width: 800px){
    .trends__container {
        padding:  10px 20px 20px 20px;
    }
    .trends__container h1{
        font-size: 40px;
        
    }
    .slick-arrow{
        display: none !important;
    }
}
@media all and (max-width: 541px){

    .trends__container h1{
        font-size: 30px;
    }
} 
@media all and (max-width: 426px){

    .trends__container h1{
        font-size: 20px;
    }
}