.tv_section__container{
    margin:10px 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.298);
    box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);
    padding:  0 40px 40px 40px;
    transition: .2s;
    animation: appear2 .7s ease-in-out;
    
}
@keyframes appear2 {
    0%    {opacity: 0;}
    100% {opacity: 1;}
}

.tv_section__container h1{
    margin: 0;
    color:#ffffff;
    font-size: 50px;
    font-weight: 600;
    transition: .2s;
}
.tv_section__content{
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 20px;
    row-gap: 10px;
}