.movie_section__container{
    margin:0 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom left, rgba(243, 55, 55, 0.5) , rgba(0, 47, 156, 0.5), rgba(0, 0, 0, 0.5));
    box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);
    padding:  10px 40px 40px 40px;
    transition: .2s;
    animation: appear2 .7s ease-in-out;
    
}
@keyframes appear2 {
    0%    {opacity: 0;}
    100% {opacity: 1;}
}

.movie_section__container h1{
    margin-top: 0;
    margin-bottom: 10px;
    color:#ffffff;
    font-size: 50px;
    font-weight: 600;
    transition: .2s;
}
.movie_section__content{
    display: grid;
    grid-template-columns: repeat(5, auto);
}