.page__container{
    display: flex;
    flex-direction: column;
    margin:10px 20px;
    border-radius: 20px;
    background-size: cover;
    box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);
    transition: .2s;
    animation: appear2 .7s ease-in-out;
    
}
@keyframes appear2 {
    0%    {opacity: 0;}
    100% {opacity: 1;}
}
.gradient{ 
    border-radius: 20px;
    max-width: 100vw;
    background: linear-gradient(to bottom left, rgba(243, 55, 55, 0.6) , rgba(0, 47, 156, 0.6), rgba(0, 0, 0, 0.8));
    padding: 60px;
}
.top__part{
    display: flex;
    align-items: center;
    gap: 50px;
}
.item__image img{
    width: 20vw;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);
}
.item__data{
    text-shadow: 0px 0px 1px#ffffffb9;
    color:#ffffff;
    transition: .2s;
}
.item__data h1{
    margin-top: 0;
    margin-bottom: 10px;
    color:#ffffff;
    font-size: 30px;
    font-weight: 600;
    
}
.item__data span{
    font-weight: 400;
    color:#ffffffb9;
}
.title__span{
    font-size: 25px;
}

.genre__span{
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
    margin-right: 10px;
}
.genre__span:hover{
    text-decoration: underline;
    color:#ffffff;
}
.bottom__part{
    margin-top: 30px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 30px;
}
.watch__button{
    font-size: 16px;
    font-weight: 300;
    width: 180px;
    min-height: 50px;
    border: none;
    background-image: linear-gradient(to top left, #f33737,rgb(39, 0, 181)100%);
    color:#ffffffb9 ;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #3a165b9f;
    background-size: 200%;
    transition: .5s;
    cursor: pointer;
}
.watch__button:hover{
    color:#ffffff;
    background-position: right;
}
.watch__button:active{
    transform: scale(0.9);
}
.add_button{
    fill:#ffffffb9;
    width: 55px;
    transition: .3s;
    cursor: pointer;
}
.add_button:hover{
    fill:#ffffff;  
}
.bottom__part span{
    font-size: 19px;
}