.side-menu{
    /* border-top: .5px solid #f33737a2; */
    min-width: 15%;
    position: absolute;  
    background-color: rgba(2, 0, 92, 0.811);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 0px 20px;
    padding: 20px;
}
.mobile-content ul{ 
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 300;
    color:#ffffffb9;
    
}
.mobile-content ul li{
    padding: 10px;
}
.mobile-content ul li:hover{
    color:#ffffff;
    cursor: pointer;
    transition: .3s;
}