.header__container{
    position: sticky;
    top: 0px;
    z-index: 1;
    animation: appear .5s ease-in-out;
}
@keyframes appear {
    0%    {opacity: 0;}
    100% {opacity: 1;}
}
#omega-logo{
    width: 60px;
}
.logo{
    fill: rgb(243, 55, 55);
    color:#f33737;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo:hover{
    cursor: pointer;
    fill: #9c2222;
    color: #9c2222;
    transition: .3s;
}
.logo:active{
    fill: #6c1616;
    color: #6c1616;
    transition: .3s;
}
.logo p{
    font-size: 50px;
    font-weight: 100;
    font-family: 'Train One', cursive;
    margin: 0;
}

#mobile__logo{
    display: none;
}
.header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(2, 0, 92, 0.811);
    backdrop-filter: blur(10px);
}
.wallet{
    display: flex;
    gap: 10px
}
#wallet{
    fill: rgb(243, 55, 55);
    max-width: 40px;
}
.navigation ul{
    font-size: 16px;
    font-weight: 300;
    color:#ffffffb9;
    display: flex;
    gap: 30px;
    padding: 0;
}
.navigation ul li:hover{
    color:#ffffff;
    cursor: pointer;
    transition: .3s;
}
.navigation ul li{
    list-style-type: none;
}
.header{
    display: flex;
    align-items: center;
}
#wallet__button{
    font-size: 16px;
    font-weight: 300;
    width: 180px;
    min-height: 50px;
    border: none;
    background-image: linear-gradient(to top left, #f33737,rgb(39, 0, 181)100%);
    color:#ffffff72;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #3a165b9f;
    background-size: 200%;
    transition: .5s;
    cursor: pointer;
}
#wallet__button:hover{
    color:#ffffffb9;
    background-position: right;
}
#wallet__button:active{
    transform: scale(0.9);
}
#enter__button{
    color:#ffffffb9;
    font-size: 16px;
    font-weight: 300;
}
#enter__button:hover{
    color:#ffffff;
    cursor: pointer;
    transition: .3s;
}
.mobile-navigation{
    display: none;
}
.mobile-trigger{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-content{
    display: none;  
}

@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}


@media all and (max-width: 800px) {
    .mobile-content{
        margin-top:0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        animation: sweep .2s ease-in-out;
    }

    @keyframes sweep {
        0%    {opacity: 0;}
        100%  {opacity: 1;}
    }

    .mobile-navigation{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .navigation{
        display: none;
    }
    .wallet{
        display: none;
    }
    #burger{
        fill: rgb(243, 55, 55);
        width: 40px;
    }
    #burger:hover{
        cursor: pointer;
        fill: #9c2222;
        transition: .3s;
    }
    #burger:active{
        fill: #6c1616;
        transition: .3s;
    }
}
@media all and (max-width: 400px) {
    .logo p{
        display: none;
        
    }
    #mobile-logo{
        display:block;
        opacity: 0;
        font-size: 50px;
        font-weight: 100;
        font-family: 'Train One', cursive;
        margin: 0;
    }
} 