.footer__container{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;    
}
/* 
цвет qr кода 
*/
#block{
    fill: #f33737;
}
/* 
размер qr кода 
*/
#qr{
    width: 200px;
}
/* .form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.form p{
    text-align: center;
    margin-top: 0;
    color:#ffffff;
    font-size: 30px;
    font-weight: 600
}
.form-input{
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #f33737;
    border-radius: 50px;
}
.form input{
    background: transparent;
    min-height: 40px;
    max-width: 400px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    color:#ffffffb9;
} */
.footer__navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.footer__navigation p{
    font-family: 'Train One', cursive;
    color:#f33737;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

.footer__navigation ul{
    font-size: 18px;
    font-weight: 300;
    color:#ffffffb9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    
}
.footer__navigation ul li{
    transition: .3s;
}
.footer__navigation ul li:hover{
    color:#ffffff;
    cursor: pointer;
    
}
.footer__navigation ul li{
    list-style-type: none;
}
/* #rightArrow{
    width: 40px;
    fill: #f33737;
}
#rightArrow:hover{
    cursor: pointer;
   fill: #9c2222;
    transition: .3s;
}
#rightArrow:active{
    fill: #6c1616;
    transition: .3s;
} */
.reference__text{
    text-align: center;
    margin-top: 0;
    color:#ffffff;
    font-size: 30px;
    font-weight: 600
}

@media all and (max-width: 800px) {
    .footer__container{
        flex-direction: column;
        align-items: center;
        gap: 20px;  
    }
    .footer__navigation ul{
        flex-direction: row;
    }
    
}
@media all and (max-width: 321px) {
    
    .footer__navigation ul{
        font-size: 13px;
    }
    
}